{% extends 'layout.twig' %}

{% block content %}

    {% if erro == null %}

        <div class="container" style="margin-top:20px">

            <img id="image" style="width:125px;float:right;block:in-line" src="/omatapalo_v3/public/img/oma.svg" alt="logo">

            <!-- <div class="leftFloat"> -->
            <h3 style="text-align:center">MAPA DE GUIAS TRANSPORTE</h3>
            <h4 style="text-align:center">Centro de Britagem de
                {{ cAnalitico }}</h4>
            <!-- </div> -->

            <div class=" cabecalho" style="margin-top:70px;">
                <table table class="tablee" id="myTablee" style="width:100%;overflow-x:auto">
                    <tbody>
                        <tr style="">
                            <td class="cab1" style="width:15%;background-color:lightgrey;padding:5px;text-align:center;">
                                <b>Mês do Fornecimento:</b>
                            </td>
                            <td style="width:0.4%;"></td>
                            <td class="cab1" style="width:10%;background-color:lightgrey;text-align:center;">{{ mes }}
                                de
                                {{ ano_ndim }}</td>
                            <td class="" style="width:55.8%;" colspan="3"></td>
                            <td class="cab1" style="width:4%;background-color:lightgrey;text-align:center;">
                                <b>N.º:</b>
                            </td>
                            <td style="width:0.4%;"></td>
                            <td class="cab1" style="width:20%;background-color:lightgrey;text-align:center;">{{ cindus }}.{{ mes }}/{{ obra }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="" style="margin-top:5px;">
                <table table class="tablee" id="myTablee" style="width:100%;">
                    <tbody>
                        <tr>
                            <td class="cab3" style="width:15%;background-color:lightgrey;padding:5px;text-align:center;">
                                <b>Centro de Custo:</b>
                            </td>
                            <td style="width:0.4%;"></td>
                            <td class="cab2" style="width:10%;background-color:lightgrey;text-align:center;">{{ cindus }}</td>
                            <td style="width:0.4%;"></td>
                            <td class="cab2" style="width:74.2%;background-color:lightgrey;padding-left:5px;">{{ nomeObra }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="cabecalho" style="margin-top:7px;">
                <table class="tableCorpo1" style="width:100%">
                    <thead>
                        <tr>
                            <th class="cor1" style="width:15%;background-color:darkgrey;text-align:center;color:white">Data</th>
                            <th class="cor1" style="width:15%;text-align:center;background-color:darkgrey;color:white">Guia n.º</th>
                            <th class="cor1" style="width:25%;text-align:center;background-color:darkgrey;color:white">Produto</th>
                            <th class="cor1" style="width:15%;text-align:center;background-color:darkgrey;color:white">Qt. (m3)</th>
                            <th class="cor1" style="width:15%;text-align:center;background-color:darkgrey;color:white">V. Unitário (Akz)</th>
                            <th class="cor1" style="width:15%;text-align:center;background-color:darkgrey;color:white">Valor Total (Akz)</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for i in 0..quantBritas - 1 %}
                            <tr>
                                <td class="cor2" style="width:15%;text-align:center;">{{ britas[i]['data'] }}</td>
                                <td class="cor2" style="width:15%;text-align:center;">{{ britas[i]['guia'] }}</td>
                                <td class="cor2" style="width:25%;text-align:center;">{{ britas[i]['nomeBrita'] }}</td>
                                <td class="cor2" style="width:15%;text-align:center;">{{ britas[i]['m3']|number_format(2,","," ") }}</td>
                                <td class="cor2" style="width:15%;text-align:center;">{{ britas[i]['pu']|number_format(0,","," ") }}</td>
                                <td class="cor2" style="width:15%;text-align:center;">{{ britas[i]['total']|number_format(2,","," ") }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                    <!-- valor total é diferente da folha resumo -->
                    <tfoot>
                        <tr>
                            <td class="cor3" style="width:70%;text-align:right;background-color:lightgrey;" colspan="4"></td>
                            <td class="cor3" style="width:15%;text-align:right;background-color:lightgrey;text-align:center;">
                                <b>Total (Akz):</b>
                            </td>
                            <td class="cor3" style="width:15%;background-color:lightgrey;text-align:center;">{{ totalBritas|number_format(2,","," ") }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="" style="margin-top:20px">
            <form action="/omatapalo_v3/mapas/detalhado/ndim/imprimir" method="post">
                <button name="printit" type="submit" value="{{print}},{{mes}},{{cAnalitico}},{{cindus}},{{obra}},{{nomeObra}},{{numeroDiasMes}},{{ano_ndim}},{{britas}},{{quantBritas}}">Imprimir</button>
            </form>
        </div>

    {% else %}

        <div class="container" style="margin-top:100px">

            <div class="alert alert-danger" role="alert" style="width:15.5em;
    display:block;margin-left:auto;margin-right:auto;">
                <h4 style="text-align:center;">Sem dados</h4><br>
                <p style="text-align:center">Retornar a
                    <a href="/omatapalo_v3/mapas" class="alert-link">Mapas</a>
                </p>
            </div>
        </div>

    {% endif %}

{% endblock %}
