{% extends 'layout.twig' %}

{% block content %}

    <table class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" id="myTable" style="width:100%;overflow-x:auto">
        <caption style="">
            <div class="centrar_rm">
                <h2 class="colorir">{{title}}</h2>
            </div>
            <h3>
                {{mes_titulo}}
                de
                {{ session.ano }}</h3>
        </caption>

        <div class="container">

            <thead>
                <tr>
                    <th class="text-center" style="vertical-align:middle;">MENSAL</th>
                    <th class="text-center">QUANTIDADE
                        <br>PRODUZIDA</th>
                    <th class="text-center">VALOR
                        <br>PRODUÇÃO</th>
                    <th class="text-center">CUSTOS DE
                        <br>OPERAÇÃO</th>
                    <th class="text-center">RESULTADO
                        <br>OPERACIONAL</th>
                    <th class="text-center">CI
                        <br>OPERACIONAL</th>
                    <th class="text-center">VALOR STOCK
                        <br>MÊS ANTERIOR</th>
                    <th class="text-center">VALOR STOCK
                        <br>MÊS ACTUAL</th>
                    <th class="text-center">VARIAÇÃO DE
                        <br>STOCK</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">TOTAIS</th>
                    <th class="text-center">{{ somaQuantidadeProduzida|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaValorProduzida|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaTotalCustos|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaResultadoOperacional|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ mediaCIOperacional|number_format(1,","," ") }}</th>
                    <th class="text-center">{{ somaValorStockMesAnterior|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaValorStockMes|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaVariacaoMensal|number_format(0,","," ") }}</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ci, codigo in cisRelatorioMensal %}
                    <tr>
                        <td class="text-center">{{ ci }}</td>
                        <td class="text-center">{{ quantidadeProduzida[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ valorProduzida[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ totalCustos[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ resultadoOperacional[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ ciOperacional[ci]|number_format(1,","," ") }}</td>
                        <td class="text-center">{{ valorStockMesAnterior[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ valorStockMes[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ variacaoMensal[ci]|number_format(0,","," ") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">

        <table class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" id="myTable" stylse="width:100%;overflow-x:auto">
            <caption style="">
                <h3>
                    Janeiro a
                    {{mes_titulo}}
                    {{ session.ano }}</h3>
            </caption>
            <thead>
                <tr>
                    <th class="text-center" style="vertical-align:middle;">MENSAL</th>
                    <th class="text-center">QUANTIDADE
                        <br>PRODUZIDA</th>
                    <th class="text-center">VALOR
                        <br>PRODUÇÃO</th>
                    <th class="text-center">CUSTOS DE
                        <br>OPERAÇÃO</th>
                    <th class="text-center">RESULTADO
                        <br>OPERACIONAL</th>
                    <th class="text-center">CI
                        <br>OPERACIONAL</th>
                    <th class="text-center">VALOR STOCK
                        <br>INICIO DO ANO</th>
                    <th class="text-center">VALOR STOCK
                        <br>MÊS ACTUAL</th>
                    <th class="text-center">VARIAÇÃO DE
                        <br>STOCK</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">TOTAIS</th>
                    <th class="text-center">{{ somaQuantidadeProduzidaAcumulada|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaValorProduzidaAcumulada|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaTotalCustosAcumulados|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaResultadoOperacionalAcumulado|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ mediaCIOperacionalAcumulado|number_format(1,","," ") }}</th>
                    <th class="text-center">{{ somaValorStockJaneiro|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaValorStockMes|number_format(0,","," ") }}</th>
                    <th class="text-center">{{ somaVariacaoAcumulada|number_format(0,","," ") }}</th>
                </tr>
            </tfoot>
            <tbody>
                {% for ci, codigo in cisRelatorioMensal %}
                    <tr>
                        <td class="text-center">{{ ci }}</td>
                        <td class="text-center">{{ quantidadeProduzidaAcumulada[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ valorProduzidaAcumulada[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ totalCustosAcumulados[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ resultadoOperacionalAcumulado[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ ciOperacionalAcumulado[ci]|number_format(1,","," ") }}</td>
                        <td class="text-center">{{ valorStockJaneiro[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ valorStockMes[ci]|number_format(0,","," ") }}</td>
                        <td class="text-center">{{ variacaoAcumulada[ci]|number_format(0,","," ") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="container" style="width: 80;">
            <div>
                <h2>
                    <span class="label label-primary">Gráfico de
                        {{ title_grafico }}</span>
                </h2>
            </div>
            <canvas id="myChart" height="200" width="900"></canvas>
        </div>

        <div id="container" style="width: 80;">
            <div>
                <h2>
                    <span class="label label-primary">Gráfico de Stocks Mensais</span>
                </h2>
            </div>
            <canvas id="myChart2" height="200" width="900"></canvas>
        </div>
        <h6 style="color: blue">NOTA: Clique na legenda para seleccionar dados a apresentar no gráfico.</h6>
    </div>

    <script type="text/javascript">
        var titulo1 = {{ label1|json_encode|raw }}
        var titulo2 = {{ label2|json_encode|raw }}
        var titulo3 = {{ label3|json_encode|raw }}

        var data = {
            labels: [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ],
            datasets: [
                {
                    label: titulo3,
                    backgroundColor: "rgba(244, 66, 107,0.3)",
                    borderColor: "rgba(244, 66, 107,1)",
                    pointBorderColor: "rgba(244, 66, 107,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(244, 66, 107,1)",
                    data: {{ cassossoGraficoCI|json_encode|raw }}
                }, {
                    label: titulo1,
                    backgroundColor: "rgba(95,186,125,0.3)",
                    borderColor: "rgba(95,186,125,1)",
                    pointBorderColor: "rgba(95,186,125,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(95,186,125,1)",
                    data: {{ arimbaGraficoCI|json_encode|raw }}
                }, {
                    label: titulo2,
                    backgroundColor: "rgba(166, 134, 244,0.3)",
                    borderColor: "rgba(166, 134, 244,1)",
                    pointBorderColor: "rgba(166, 134, 244,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(166, 134, 244,1)",
                    data: {{ caraculoGraficoCI|json_encode|raw }}
                }

            ]
        }

        //Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                legend: {
                    position: 'bottom'
                }
            }
        });
    </script>

    <script type="text/javascript">
        var titulo1 = {{ label1|json_encode|raw }}
        var titulo2 = {{ label2|json_encode|raw }}
        var titulo3 = {{ label3|json_encode|raw }}

        var data = {
            labels: [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ],
            datasets: [
                {
                    label: titulo3,
                    backgroundColor: "rgba(244, 66, 107,0.3)",
                    borderColor: "rgba(244, 66, 107,1)",
                    pointBorderColor: "rgba(244, 66, 107,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(244, 66, 107,1)",
                    data: {{ cassossoGraficoStock|json_encode|raw }}
                }, {
                    label: titulo1,
                    backgroundColor: "rgba(95,186,125,0.3)",
                    borderColor: "rgba(95,186,125,1)",
                    pointBorderColor: "rgba(95,186,125,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(95,186,125,1)",
                    data: {{ arimbaGraficoStock|json_encode|raw }}
                }, {
                    label: titulo2,
                    backgroundColor: "rgba(166, 134, 244,0.3)",
                    borderColor: "rgba(166, 134, 244,1)",
                    pointBorderColor: "rgba(166, 134, 244,1)",
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "rgba(166, 134, 244,1)",
                    data: {{ caraculoGraficoStock|json_encode|raw }}
                }

            ]
        }

        //Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#myChart2").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                legend: {
                    position: 'bottom'
                }
            }
        });
    </script>

    <style>
        td,
        th {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        @media (max-width:670px) {
            body {
                font-size: 0.9em;
            }
            th {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

    </style>

{% endblock %}
