{% extends 'layout.twig' %}

{% block content %}

  <table class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" id="myTable">
    <caption style="">
      <div class="centrar_rm">
        <h2 class="colorir">{{title}}</h2>
      </div>
      <h3>
        {{mes_titulo}}
        de
        {{ session.ano }}</h3>
    </caption>
    <div class="container">

      <thead>
        <tr>
          <th class="text-center vam" rowspan="3">CI / Dados</th>
          <th class="text-center" colspan="9">Valores Corrente Mês</th>
        </tr>
        <tr>
          <th class="text-center">Volume<br>Vendido</th>
          <th class="text-center">Média<br>Venda</th>
          <th class="text-center vam" colspan="5">Facturação</th>
          <th class="text-center">Resultado Mediante<br>Facturação</th>
          <th class="text-center vam">CI.F</th>
        </tr>
        <tr>
          <th class="text-center">m3</th>
          <th class="text-center">USD/m3</th>
          <th class="text-center">Interna</th>
          <th class="text-center">%</th>
          <th class="text-center">Externa</th>
          <th class="text-center">%</th>
          <th class="text-center">Total</th>
          <th class="text-center">Mensal</th>
          <th class="text-center">Mensal</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th class="text-center">TOTAIS</th>
          <th class="text-center">{{ rodapeM3|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeMediaM3|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeFornInterno|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapePercFI|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeFornExterno|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapePercFE|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeTotalFornecido|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeResultado|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeCIF|number_format(1,","," ") }}</th>
        </tr>
      </tfoot>
      <tbody>
        {% for ci, value in cisRelatorioMensal %}
          <tr>
            <td class="text-center">{{ ci }}</td>
            <td class="text-center">{{ fornTotalM3[ci][mes]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ mediaMensal[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornInternoOrdenado[ci][mes]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ percentagemFI[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornExternoOrdenado[ci][mes]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ percentagemFE[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornTotal[ci][mes]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ resultadoFornecimento[ci][mesMenosUm]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ racioCI[ci][mesMenosUm]|number_format(1,","," ") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">

    <table class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" id="myTable">
      <caption style="">
        <h3>
          <strong></strong>Janeiro a
          {{mes_titulo}}
          de
          {{ session.ano }}</h3>
      </caption>
      <thead>
        <tr>
          <th class="text-center vam" rowspan="3">CI / Dados</th>
          <th class="text-center" colspan="9">Valores Acumulados</th>
        </tr>
        <tr>
          <th class="text-center">Volume<br>Vendido</th>
          <th class="text-center">Média<br>Venda</th>
          <th class="text-center vam" colspan="5">Facturação</th>
          <th class="text-center">Resultado Mediante<br>Facturação</th>
          <th class="text-center vam">CI.F</th>
        </tr>
        <tr>
          <th class="text-center">m3</th>
          <th class="text-center">USD/m3</th>
          <th class="text-center">Interna</th>
          <th class="text-center">%</th>
          <th class="text-center">Externa</th>
          <th class="text-center">%</th>
          <th class="text-center">Total</th>
          <th class="text-center">Mensal</th>
          <th class="text-center">Mensal</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th class="text-center">TOTAIS</th>
          <th class="text-center">{{ rodapeM3Acumulado|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeMediaM3Ac|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeFornInternoAc|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapePercAcFI|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeFornExternoAc|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapePercAcFE|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeTotalFornecidoAc|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeResultadoAc|number_format(0,","," ") }}</th>
          <th class="text-center">{{ rodapeCIFAc|number_format(1,","," ") }}</th>
        </tr>
      </tfoot>
      <tbody>
        {% for ci, value in cisRelatorioMensal %}
          <tr>
            <td class="text-center">{{ ci }}</td>
            <td class="text-center">{{ fornTotalM3Acumulado[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ mediaAcumulada[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornecimentosInternoAcumulado[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ percentagemAcumuladaFI[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornecimentosExternoAcumulado[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ percentagemAcumuladaFE[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ fornTotalAcumulado[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ resultadoFornecimentoAcumulado[ci]|number_format(0,","," ") }}</td>
            <td class="text-center">{{ racioCIAcumulado[ci]|number_format(1,","," ") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="container">
      <div>
        <h2>
          <span class="label label-primary">Gráfico de
            {{ title_grafico }}</span>
        </h2>
      </div>
      <canvas id="myChart" height="200" width="800"></canvas>
    </div>
    <div id="container">
      <div>
        <h2>
          <span class="label label-primary">Gráfico de Resultado Mediante a Facturação</span>
        </h2>
      </div>
      <canvas id="myChart2" height="200" width="800"></canvas>
    </div>
    <h6 style="color: blue">NOTA: Clique na legenda para seleccionar dados a apresentar no gráfico.</h6>
  </div>

  <script type="text/javascript">
    var titulo1 = {{ label1|json_encode|raw }}
    var titulo2 = {{ label2|json_encode|raw }}
    var titulo3 = {{ label3|json_encode|raw }}
    var cassosso = {{ cassossoGraficoCI|json_encode|raw }}
    var arimba = {{ arimbaGraficoCI|json_encode|raw }}
    var caraculo = {{ caraculoGraficoCI|json_encode|raw }}
    console.log(caraculo)
    var data = {
      labels: [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
      ],
      datasets: [
        {
          label: titulo3,
          backgroundColor: "rgba(244, 66, 107,0.3)",
          borderColor: "rgba(244, 66, 107,1)",
          pointBorderColor: "rgba(244, 66, 107,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(244, 66, 107,1)",
          data: cassosso
        }, {
          label: titulo1,
          backgroundColor: "rgba(95,186,125,0.3)",
          borderColor: "rgba(95,186,125,1)",
          pointBorderColor: "rgba(95,186,125,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(95,186,125,1)",
          data: arimba
        }, {
          label: titulo2,
          backgroundColor: "rgba(166, 134, 244,0.3)",
          borderColor: "rgba(166, 134, 244,1)",
          pointBorderColor: "rgba(166, 134, 244,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(166, 134, 244,1)",
          data: caraculo
        }

      ]
    }

    //Get context with jQuery - using jQuery's .get() method.
    var ctx = $("#myChart").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        legend: {
          position: 'bottom'
        }
      }
    });
  </script>

  <script type="text/javascript">
    var titulo1 = {{ label1|json_encode|raw }}
    var titulo2 = {{ label2|json_encode|raw }}
    var titulo3 = {{ label3|json_encode|raw }}
    console.log({{ caraculoGraficoStock|json_encode|raw }})
    var data = {
      labels: [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
      ],
      datasets: [
        {
          label: titulo3,
          backgroundColor: "rgba(244, 66, 107,0.3)",
          borderColor: "rgba(244, 66, 107,1)",
          pointBorderColor: "rgba(244, 66, 107,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(244, 66, 107,1)",
          data: {{ cassossoGraficoStock|json_encode|raw }}
        }, {
          label: titulo1,
          backgroundColor: "rgba(95,186,125,0.3)",
          borderColor: "rgba(95,186,125,1)",
          pointBorderColor: "rgba(95,186,125,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(95,186,125,1)",
          data: {{ arimbaGraficoStock|json_encode|raw }}
        }, {
          label: titulo2,
          backgroundColor: "rgba(166, 134, 244,0.3)",
          borderColor: "rgba(166, 134, 244,1)",
          pointBorderColor: "rgba(166, 134, 244,1)",
          pointBackgroundColor: "#fff",
          pointHoverBackgroundColor: "rgba(166, 134, 244,1)",
          data: {{ caraculoGraficoStock|json_encode|raw }}
        }

      ]
    }

    //Get context with jQuery - using jQuery's .get() method.
    var ctx = $("#myChart2").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        legend: {
          position: 'bottom'
        }
      }
    });
  </script>

  <style>
    td,
    th {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    @media (max-width:670px) {
      body {
        font-size: 0.9em;
      }
      th {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

  </style>

{% endblock %}
